{%  extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    {% include 'inc/question_answer.html' %}
    <hr/>
    {% for answer, answer_info in ans_data  %}
         {% include 'inc/one_answer.html' %}
    {% endfor %}

    <hr/>
    {% include 'inc/pagination.html' %}
    {% if user.is_authenticated %}
        <form class="form mt-5" method="POST" novalidate>
           {%  csrf_token %}
           {%  bootstrap_form form %}
           {% buttons %}
            <button type="submit" class="btn btn-primary">Answer</button>
           {% endbuttons %}
        </form>
    {% else %}
        <h2> You need to login for write answer</h2>
        <a href="{% url  'login'%}?next={% url 'question' id=id %}"> Log in</a>
    {% endif %}
{% endblock content %}

{% block jscode %}
     <script src = "{% static "js/votes.js" %}"></script>
     <script src = "{% static "js/correct.js" %}"></script>
{% endblock jscode %}