{%  extends 'inc/base.html' %}
{% load static %}

{% block content %}
    {% include 'inc/question_answer.html' %}
    <hr/>
    {% include 'inc/one_answer.html' %}
    {% include 'inc/one_answer.html' %}
    {% include 'inc/one_answer.html' %}
    {% include 'inc/one_answer.html' %}
    <hr/>
    {% include 'inc/pagination.html' %}
    <form>
        <div class="form-group row">
          <textarea type="textarea" class="form-control textarea-text" id="inputText" placeholder="Enter your answer here..."></textarea>
        </div>

        <div class="form-group row">
          <button type="submit" class="btn btn-primary answer-btn">Answer!</button>
        </div>
    </form>
{% endblock content %}