{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="row type-question">
    <div class="col-3">Log in</div>
</div>
<form class="form mt-5" method="POST" novalidate>
    {%  csrf_token %}
     {%  bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Log In</button>
    {% endbuttons %}
    {% if request.GET.next %}
    <a href={% url  'register'%}?next={{request.GET.next}}> create new account</a>
    {%  else %}
    <a href={% url  'register'%}> create new account</a>
    {% endif %}
</form>
{% endblock content %}