{%  extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="row type-question">
    <div class="col-3">Registration</div>
</div>
<div class="row error">
    <p> Sorry, this address allready registred!</p>
</div>
<form class="form mt-5" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Register</button>
    {% endbuttons %}
</form>

{% endblock content %}