{% load static %}

{% block navbar %}
    <div class="row navbar">
        <div class="col-3 title" style="max-width: max-content">
          <a class="navbar-brand" href="{% url  'index'%}">AskTechnoPark</a>
          <form action=" {% url 'ask' %}" class="ask">
              <button class="btn btn-outline-success " type="submit">NEW ASK!</button>
          </form>
        </div>
        <div class="col-6">
          <form class="search">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ASK!</button>
          </form>
        </div>
        {% if user.is_authenticated %}
        <div class="col-3 info">
          <div class="row">
            <div class="col-3 avatarCol">
              <img class="avatar" src= "{{ avatar }}" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-6">
                    {{ user.username }}
                </div>
              </div>
              <div class="row">
                <div class="col-3"><a href="{% url  'settings'%}">settings</a></div>
                <div class="col-4"><a href="{% url  'logout'%}">log out</a></div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
            <div class="col-2 info">
              <div class="row">
                <div class="col-4"><a href="{% url  'login'%}">log in</a></div>
                <div class="col-4"><a href="{% url  'register'%}">register</a></div>
              </div>
            </div>
        {% endif %}
    </div>
{% endblock navbar %}