<div class="row side-menu-title">
    <div class="col-12"> Popular Tags
      <div>
        {% for tag in tags %}
            {% if tag.pop == 1 %}
               <a href="{% url 'tag' tag=tag.tag_name %}" class="tag very-popluar">{{ tag.tag_name }}</a>
            {% endif %}
            {% if tag.pop == 2 %}
               <a href="{% url 'tag' tag=tag.tag_name %}" class="tag popluar">{{ tag.tag_name }}</a>
            {% endif %}
            {% if tag.pop == 3 %}
               <a href="{% url 'tag' tag=tag.tag_name %}" class="tag">{{ tag.tag_name }}</a>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
<div class="row side-menu-title">
    <div class="col-12"> Best Members </div>
    <ul class="list">
        {% for user in users %}
           <li class="list-item"> <a href="">{{ user.author__nick }}</a>
        {% endfor %}
    </ul>
</div>