<div class="row side-menu-title">
            <div class="col-12"> Popular Tags
              <div>
                <span class="tag very-popluar">MySQL</span>
                <span class="tag popluar">Perl</span>
                <span class="tag">Python</span>
                <span class="tag">TechnoPark</span>
                <span class="tag very-popluar">DJango</span>
                <span class="tag popluar">Mail.ru</span>
                <span class="tag very-popluar">FireFox</span>
              </div>
            </div>
          </div>
<div class="row side-menu-title">
            <div class="col-12"> Best Members </div>
            <ul class="list">
              <li class="list-item"><a href="#">Ivan Gorshkov</a></li>
              <li class="list-item"><a href="#">Oleg Urgens</a></li>
              <li class="list-item"><a href="#">Fedor Surovcev</a></li>
              <li class="list-item"><a href="#">Prohor Surovcev</a></li>
              <li class="list-item"><a href="#">Ivan Hilko</a></li>
            </ul>
          </div>