<div class="row side-menu-title">
    <div class="col-12"> Popular Tags
      <div>
        {% for tag in tags %}
            {% if tag.disease_count > 65 %}
               <a href="{% url 'tag' tag=tag.tags__title %}" class="tag very-popluar">{{ tag.tags__title }}</a>
            {% else %}
                {% if tag.disease_count > 60 %}
               <a href="{% url 'tag' tag=tag.tags__title %}" class="tag popluar">{{ tag.tags__title }}</a>
                {% else %}
                    {% if tag.disease_count > 0 %}
                    <a href="{% url 'tag' tag=tag.tags__title %}" class="tag">{{ tag.tags__title }}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
<div class="row side-menu-title">
    <div class="col-12"> Best Members </div>
    <ul class="list">
        {% for user in users %}
           <li class="list-item"> <a href="">{{ user.author__nick }}</a>
        {% endfor %}
    </ul>
</div>